@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Euphoria+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@497&family=Euphoria+Script&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("../public/images/nutrire-fondo.png") no-repeat center center/cover;
  min-height: 100vh;
  position: relative;
  margin-top: 60px;
}

body::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}

.bg-body-tertiary{
  display: flex;
  justify-content: space-around;
}



.card-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Sour Gummy';
  color: #fff;
  background-color: #fff2;
  padding: 120px;
}


.card-contact img {
  width: 25%;
  height: 25%;
  padding-top: 55px;
}