.CartWidget {
    width: auto;
    padding: 12px;
    font-size: 8px;
    background: #F4D289;
    border-radius: 8px;
    flex: none;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    font-size: medium;
}

.CartImg {
    margin-right: 10px;
}

.color-card {
    color: #fff;
}